/* @font-face {
  font-family: 'Montserrat-Regular';
  src: url('Montserrat-Regular.svg#Montserrat-Regular') format('svg'),
       url('Montserrat-Regular.ttf') format('truetype'),
       url('Montserrat-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'MontserratRegular';
  src: url('MontserratRegular.eot');
  src: url('MontserratRegular.eot?#iefix') format('embedded-opentype'),
       url('MontserratRegular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

