/* @font-face {
  font-family: 'Teko-Light';
  src: url('Teko-Light.eot');
  src: url('Teko-Light.eot?#iefix') format('embedded-opentype'),
       url('Teko-Light.svg#Teko-Light') format('svg'),
       url('Teko-Light.ttf') format('truetype'),
       url('Teko-Light.woff') format('woff'),
       url('Teko-Light.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
} */

